@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Credit Card Validator</h1>
    <h4>by JJ vd Merwe</h4>
    <p>An implementation using Clean Architecture, CQRS, Mediator, UnitOfWork & Generic Repository patterns</p>
</div>
